.tag-list ul {
	margin: 2rem 0 !important;
	padding: 0;
}

pre {
  background-color: #f8f8f8;
}

.wpt-cmt > table {
  margin: -10px;
}

.card-body {
  max-height: 150px;
  resize: vertical;
}

.fade-bottom {
  /* Creates a smooth fade out to white at the bottom 40px of the container */
  -webkit-mask-image: linear-gradient(to bottom, black calc(100% - 40px), transparent 100%);
  mask-image: linear-gradient(to bottom, black calc(100% - 40px), transparent 100%);
}
